.container_12
  .grid_12{:style => "margin-top: 20px;"}
    .box{:style => " border: 1px solid #ccc; border-radius: 5px; margin-right: 4px;"}
      -@tracked.each do |user|
        .progress-bar
          .full-bar{:style => "width: #{100*user.score/@score_totals}%", :class => user.color}
  -@tracked.each do |user|
    .grid_4
      .box-header= user.name.first
      .box{:style => "padding: 0; font-size: 1.75em;"}
        .colored-box.square{:class => user.color} Current Score: #{user.score}
        .colored-box.square{:class => user.color} 
          Last Commit: #{user.last_commit || "never"}
        .colored-box.square{:class => user.color}
          Total LOC: #{user.loc}
        .colored-box.square{:class => user.color}
          Bugs Identified: #{user.bugs_identified}
        .colored-box.square{:class => user.color}
          Bugs Fixed: #{user.bugs_fixed}
        .colored-box.square{:class => user.color}
          Feature Suggestions: #{user.feature_suggestions}
        .colored-box.square{:class => user.color}
          Features Implemented: #{user.features_implemented}
        .colored-box.square{:class => user.color}
          Longest Streak: #{user.longest_streak} day#{'s' if user.longest_streak != 1}
